[Unit]
Description=ArcVPN Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/ArcVPN
ExecStart=/usr/bin/python3 /root/ArcVPN/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
