[Unit]
Description=Maintain Moscow website TLS certificate
[Timer]
OnBootSec=10min
OnUnitActiveSec=12h
Persistent=true
[Install]
WantedBy=timers.target
